
  <div class="col col-md-3 grid" data-shoe-id={{collection.id}} >
    <img src="https://raw.githubusercontent.com/kailinc/airkicks-front-end/master/assets/img/collection.png">
    <h3> {{collection.name}}</h3>
    <p> {{collection.description}}</p>
  </div>
