@import 'colors';
//
* {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 50px;
};

.em-text {
  color: $neon;
  font-size: 2em;
}

.jumbotron{
	color: #fff;
	height: 700px;
	overflow: none;
}

#outJumbotron{
	background: #1b222a url(../img/landingImg.jpg) no-repeat left center;
}

#inJumbotron {
  background: url(../img/in.jpg) no-repeat left center;
  height: 500px;
  margin-bottom: 100px;
}

.jumbotron h1{
  text-align: center;
	margin-top:60px;
}

.jumbotron p{
	margin-bottom:40px;
  text-align: center;
}

img.demo{
	width:50%;
	padding:3px;
  align-items: center;
}

.demo h2 {
  text-align: center;
}

.headline {
  text-align: center;
  margin-bottom: 50px;
}

#middle {
    margin-bottom: 100px;
}

form {
  background-color: #fff;
  padding: 20px;
  label {
    color: black;
  }
}

#innerPage {
  display: none;
}

button {
  margin: 10px;
}

.optionBtn {
  width: 180px;
}
